/* Geral */

* {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    display: grid;
    grid-template-rows: 21vh auto 20vh;
    grid-template-areas:
        "header"
        "section"
        "footer";
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {

    grid-area: header;
    height: auto;
    background-color: #0E71BA;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 30pt;
}

header figure {
    position: relative;
    left: 10%;
}

header figure img {
    width: 75%;
}

/* Section */

section{
    padding: 80px;
    background-color: #E0E4DF;
}

section h3 {
    display: flex;
    justify-content: center;
}

.voltar {
    position: relative;
    bottom: 20%;
    
}

.voltar button {
    padding: 15px 32px;
    border-radius: 12px;
    background-color: #0E71BA;
    color: white;
    font-weight: bolder;
    
}

.voltar button:hover{
    background-color: black;
    color: white;
    border: 2px solid #0E71BA;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
    
  }
  
  td  {
    padding: 10px;
    border: 1px solid gray;
    color: black;
    font-weight: bolder;
    text-align: center;
    background-color: white;
  }

  th {
    border: 2px #ddd;
    padding: 1%;
    padding: 10px;
    width: 250px;
    background-color: #0E71BA;
    border: 1px solid black;
    color: white;
    -webkit-text-stroke: 0.2px black;
  }




/* Footer */

footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-weight: bolder;
    color: white;
}
  