/* Geral */

* {
    margin: 0;
    padding: 0;
}


.container {
    width: 100%;
    display: grid;
    grid-template-rows: 21vh auto 40vh;
    grid-template-areas:
        "header"
        "section"
        "footer";
        font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    grid-area: header;
    height: auto;
    background-color: #0E71BA;
    display: flex;
    justify-content: center;
    align-items: center;
}

header figure {
    position: relative;
    left: 5%;
}

header figure img {
    width: 75%;
}

header h1 {
    color: white;
    -webkit-text-stroke: 2px black;
    font-size: 30pt;
}

/* Section */

section{
    padding: 80px;
    grid-area: section;
    display: flex;
    justify-content: center;
    background-color: #E0E4DF;
}

.voltar {
    position: relative;
    right: 15%;
    
}

.voltar button {
    padding: 15px 32px;
    border-radius: 12px;
    background-color: #0E71BA;
    color: white;
    font-weight: bolder;
    -webkit-text-stroke: 0.2px black;
    
}

.voltar button:hover{
    background-color: black;
    color: white;
    border: 2px solid #0E71BA;
}

section img {
    width: 250px;
    display: flex;
    justify-content: left;
    border: 2px solid  #0E71BA;
    border-radius: 10px;
}

.list-info {
    list-style: none;
    margin-left: 20px;
}

.list-info li {
    font-size: 20pt;
    color:  #0E71BA;
    padding: 10px;
    font-weight: bolder;
    -webkit-text-stroke: 0.5px black;

}

.fa-signature {
    border-radius: 20px;
    padding: 8px;
    background-color: #0E71BA;
    color: white;
    margin-right: 10px;
    -webkit-text-stroke: 0.5px black;
}

.fa-calendar-days {
    border-radius: 20px;
    padding: 9px;
    background-color: #0E71BA;
    color: white;
    margin-right: 10px;
    -webkit-text-stroke: 0.6px black;
}

.fa-at {
    border-radius: 20px;
    padding: 8px;
    background-color: #0E71BA;
    color: white;
    margin-right: 10px;
    -webkit-text-stroke: 0.6px black;
}

.fa-id-card {
    border-radius: 20px;
    padding: 8px;
    background-color: #0E71BA;
    color: white;
    margin-right: 10px;
    -webkit-text-stroke: 0.6px black;
}

/* Footer */

footer {
    background-color: black;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p{
    font-weight: bolder;
    color: white;
}